body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    background-color: #0E1117;
    color: #CFE3DC;
}

.table-def {
    width: 100%;
    border-collapse: collapse;
    color: #CFE3DC;
}
.table-def th, td {
    border-bottom: 1px solid #CFE3DC;
    padding-bottom: 16px;
    padding-top: 16px;;
}


.table-def th {
    background-color: #181D27;
    padding: 5px;
    text-align: left;
}

/* .table-def tr:nth-child(even) {
    background-color: #e4ffd8;
} */

.table-def tr:hover {
    color: #73C7FF;
    cursor: pointer;
}

.container {
    padding: 20px;
    display: flex;
}

.m-3 {
    margin: 10px;
}

.text-blue {
    color: #73C7FF;
}

.traceid-style:hover {
    text-decoration: underline;
}

/* when user clickes traceid-stlye text becomes red */
.traceid-style:active {
    color: #FF7B72;
}

.status-success {
    background-color: rgba(0, 128, 0, 0.363);
    border: 1px solid green;
    text-align: center;
}

.status-bad {
    background-color: rgba(255, 166, 0, 0.363);
    border: 1px solid orange;
    text-align: center;
}


/* navbar */

.navbar-main {
    display: flex;
    flex-direction: column;
    font-size: small;
    justify-content: space-between;
    width: 200px;

}
.navbar-title h2 {
    font-size: 16px;
}

.navbar-tabs-contaiter {
    display: flex;
    flex-direction: column;
    
}

.navbar-tabs {
    padding: 2px;
    margin-top: 12px;
    background-color: #181D27;
    text-align: left;
    padding-left: 9px;
    border-radius: 9px;
    cursor: pointer;
}
.navbar-tabs h1 {
    margin: 0px;
}

.navbar-currentpage {
    color: #FF7B72;
}